.cover_of_classA{
    height: 673px;
    border-radius: 16px;
border: 2px solid #ECA50C;
background: radial-gradient(93.32% 76.76% at 64.42% 24.6%, #FFE2A1 0%, #FFCB5A 0.01%, #E9A208 100%);
width: 85%;
margin: auto;
padding: 24px;
margin-bottom: 16px;

}
.desc_class_a{
    width: 238px;
    display: flex;
    align-items: center;
    margin-top: 68px;
  
}
.descontent{
    width: 146px;
    color: #2C292A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    
}
.title_class_a{
    color: #2C292A;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 140%; /* 33.6px */
width: 251px;
margin-top: 16px;
}
.descofclassAtitle{
    color: rgba(44, 41, 42, 0.60);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
width: 246px;
margin-top: 16px;
}
.bottomborder{
    margin-top: 26px;
    border-bottom: 1px solid #E2AA30;

}
.button_a{
    margin-top: 26px;
    display: flex;
width: 78px;
height: 32px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 4px;
background: #F1F1F1;
color: #FF3030;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 16.8px */
}
.priceofclassa{
    margin-top: 16px;
    color: rgba(44, 41, 42, 0.50);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
position: relative;
bottom: 25px;
}
.linesvg{
    position: relative;
  top: 12px;
}
.Main_price_area{
   
    color: #2C292A;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 67.2px */
position: relative;
bottom: 30px;
}
.BuyNowforclassA{
    display: flex;
width: 100%;
padding: 16px 29px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
background: linear-gradient(96deg, #030102 0%, #2C292A 100%);
color: #FFF;
font-family: Heebo,sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 21.6px */
}
.mobile_cards .anothertitleforcards{
    display: none;
}
.mobile_cards .maincontentslider{
    margin-bottom: 0px;
}
.imageforbannerclassa{
    position: relative;
    top: 69px;
    left: 40px;
    max-width: 80vw;
}
.coverofco{
    padding: 24px;
    position: relative;
    bottom: 234px;
  
}


.courseltitle{
    color: #2C292A;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.titlecarousel{
height: 65px;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #EEE;
margin-bottom: 16px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}
.labeloftime{
    display: flex;
padding: 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: rgba(251, 183, 35, 0.25);
width: 63px;
height: 26px;
color: #2C292A;
font-family: "Nunito Sans",sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 800;
line-height: 24px; /* 200% */
}
.coverofallreview{
    position: relative;
    bottom: 298px;
}
.coverofallcour{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(44, 41, 42, 0.70);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 160%; /* 22.4px */
letter-spacing: 0.7px;
width: 170px;
}
.topersponsor{
padding: 24px;
position: relative;
bottom: 77px;

}
.coverofsponer{
    
padding: 20px;
text-align: center;
gap: 24px;
border-radius: 8px;
border: 2px solid #EEE;
background: #FDFDFD;
padding: 20px;
}
.descofpartner{
    color: rgba(44, 41, 42, 0.70);
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
display: flex;
justify-content: center;
margin-top: 5px;

}
.inercon{
    
    width: 254px;
}
.sponsorimage{
    margin-top: 15px;
}
.coverofsponer2{
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
border: 2px solid #EEE;
background: #FDFDFD;
}
.listcom{
    display: flex;
    gap: 10px;
    color: rgba(44, 41, 42, 0.70);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
align-items: center;
margin-top: 20px;
}
.coverofreviewslider{
    padding: 24px;
position: relative;
bottom: 44px;
}
.coverofsponer4{
    padding: 20px;
}
.reviewcontent img{
    width: 100%;
    /* height: 1311px; */
}
.coverofsponer3{
    padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
background: #FDFDFD;
}
.courseltitle2{
    color: #2C292A;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration-line: underline;
display: flex;
justify-content: center;
}
.coverofclassvideo{
    width: 100%;
  
}
.coverofclassvideo img{
    width: 100%;
}
@keyframes switch-animation {
    0% { opacity: 1; } /* Initial state - SVG1 fully visible */
    50% { opacity: 0; } /* Halfway point - SVG1 fades out, SVG2 fades in */
    100% { opacity: 1; } /* Final state - SVG2 fully visible */
}

.animation-container {
    position: relative;
    left: 39%;
    bottom: 360px;
    max-width: 35vw;
}

.svg1, .svg2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Initially hidden */
}

.svg1 {
    animation: switch-animation 2s infinite; /* Adjust animation duration as needed */
}

.svg2 {
    animation: switch-animation 2s infinite alternate; /* Adjust animation duration as needed */
    animation-delay: 1s; /* Start after 1 second to create alternating effect */
}
.coverofclassvideo .ant-modal-content{
    background-color: black;
}
.classacard{
border-radius: 24px;
border: 1px solid #EEE;
background: #FFF;
box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.10);
position: relative;
bottom: 219px;
padding: 16px;
}
.learntext{
    color: #FFF;
    color: #FFF;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 25.6px */
letter-spacing: 0.8px;
position: relative;
top: 84px;
right: 10px;
}
.headerofclassa{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.classtitle{
    color: #2D2727;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.reviewcount{
    color: #2D2727;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 140%; /* 16.8px */
}
.startsreview{
    display: flex;
justify-content: center;
}
.priceofc{
    color: #2D2727;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
}
.coverofpricebuttons .priceofc{
    position: relative;
    right: 125px;
}
.reviewsectionclass{
    display: grid;
    row-gap: 5px;
}
.coverofpricebuttons{
    display: flex;
    align-items: center;
    gap: 28px;
}
.coverofpricebuttons .button_a{
    margin-top: 0px;
}
.certificationbtn{
    display: flex;
    border-top: 1px solid #EEE;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #EEE;
    margin-top: 36px;
}
.certified:first-child {
    border-right: 1px solid #EEE;
}
.certified:nth-child(2) {
   padding-left: 16px;
}
.certified{
    width: 50%;
    color: #2C292A;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
align-items: center;
gap: 10px;
}
.certified svg{
    width: 24px;
    height: 24px;
}
.watchdetail{
    color: #2C292A;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 160%; /* 22.4px */
letter-spacing: 0.7px;
display: flex;
align-items: center;
gap: 8px;
justify-content: center;
cursor: pointer;
margin-top: 16px;
}
.forsmallermobile{
    display: none;
}
@media (max-width:500px) {
   .coverformobileversionofclassa .footer-area{
        margin-top: -241px;
    }
    .forlargerdes{
        display: none;
    }
    .forsmallermobile{
        display: block;
        max-width: 290px;
    }
}
.coverofrevi{
    position: relative;
    bottom: 177px;
}
.mobile_cards{
    position: relative;
    bottom: 270px;
}
.classacard .selectedtest{
    margin-top: 0px;
}
@media (max-width:415px) {
    .classacard{
            bottom: 200px;

    }
    .coverofreviewslider{
        bottom: 33px;
    }
    .animation-container{
bottom: 350px;
    }
}
@media (max-width:400px) {
 
    .animation-container{
bottom: 340px;
    }
}
@media (max-width:380px) {
    .classacard{
            bottom: 186px;

    }
    .animation-container{
        bottom: 325px;
            }
}